body {
    height: 100vh;
    padding: 0px;
}

#body-container {
    padding: 2rem 5rem;
    background-image: url('/images/home-bg.jpg');
    background-size: cover;
    height: 92vh;
}

/* Navbar */
#navbar {
    height: 8vh;
    color: #d6d6d6;
    background-color: #191919;
}

.nav-link {
    color: #d6d6d6;
}

.nav-link:hover {
    color: #fff;
}

.btn-outline-success {
    color: #4789cc;
    border-color: #4789cc;
}

.btn-outline-success:hover {
    background-color: #4789cc;
}

/* Homepage */
#home-page>h1 {
    color: #d6d6d6;
    margin-top: 7%;
}

#home-page>h1>span,
.navbar-brand {
    color: #4789cc;
}

.navbar-brand:hover {
    color: #4789cc;
}

.home-btn {
    margin: 1rem;
    margin-top: 20%;
    width: 14rem;
    font-size: larger;
    color: #191919;
    background-color: #d6d6d6;
}

.home-btn:hover {
    background-color: #191919;
    color: #4789cc;
}

/* Forms */
#register-container>h1,
#login-container h1 {
    color: #d6d6d6;
    margin-top: 7%;
}

#application-form-container {
    width: 35%;
}

#job-create-container h1,
#job-update-container h1,
#application-form-container>h1 {
    color: #d6d6d6;
    margin-top: 7%;
    margin-bottom: 2%;
}

.form-label {
    color: #fff;
}

#register-container>h1>span,
#login-container>h1>span,
#job-create-container>h1>span,
#job-update-container>h1>span,
#application-form-container>h1>span {
    color: #4789cc;
}

#register-form label,
#login-form label {
    color: #d6d6d6;
}

#emailHelp {
    color: #d6d6d6;
}

#already {
    margin-top: 3rem;
    text-align: end;
    color: #d6d6d6;
}

/* Job-Page */

#job-card,
#details-card {
    color: #d6d6d6;
    background-color: #000000fa;
}

#job-card .card-body span,
#details-card .card-body span {
    color: #4789cc;
}

#details-card .card-body .action {
    width: 8rem;
}

#details-card .position-absolute {
    left: 36%;
    padding: auto;
    margin: .5rem;
}

.alert {
    position: absolute;
    top: 12vh;
    padding: 0.5rem;
    color: red;
    border: 2px solid red;
    background-color: #54161661
}

#applicant-container{
    padding: 1rem;
    background-color: #000000e2;
}
#applicant-container .table{
    color: #fff;
}