<div id="home-page">
    <h1>Find your Career, <span>EASILY</span></h1>
    <a href="/jobs"><button type="button" class="home-btn btn">I'm A Job Seeker</button></a>
    <%if(!locals.recruiter){%>
        <a href="/register"><button type="button" class="home-btn btn">I'm A Recruiter</button></a>
        <%}%>
</div>